#video-component {
  background-color: black
}

.l-20 {
  margin-left: 20px
}

.t-20 {
  margin-top: 20px
}

.imagem-icone {
  width: 32px;
  height: 32px;
}

.texto-branco{
  color: white
}

.m-b-10{
  margin-bottom: 10%
}

.m-l-50{
  margin-left: 50%
}